<div class="bg-primary">
	<div id="control-box" class="container">
		<!-- <div class="btn btn-game" ng-repeat="control in intro.ctrls"></div> -->
		<!-- <button type="text" class="btn btn-game" data-direction="up">Mouse.up()</button>
		<button type="text" class="btn btn-game" data-direction="left">Mouse.left()</button>
		<button type="text" class="btn btn-game" data-direction="down">Mouse.down()</button>
		<button type="text" class="btn btn-game" data-direction="right">Mouse.right()</button> -->
		<button type="text" class="btn btn-game"><i class="fa fa-volume-up"></i></button>
		<button type="text" class="btn btn-game"><i class="fa fa-trophy"></i></button>
	</div>
</div>
<div class="col-xs-12 col-sm-8">
	<div id="gameCanvas"></div>
</div>
<div game-command class="col-xs-12 col-sm-4 bg-primary" style="font: initial;"></div>
