<div class="bg-primary">
	<div id="control-box" class="container">
		<button type="text" class="btn btn-game"><i class="fa fa-volume-up"></i></button>
		<button type="text" class="btn btn-game"><i class="fa fa-trophy"></i></button>
	</div>
</div>
<div class="col-xs-12 col-sm-8">
	<div id="gameCanvas"></div>
</div>
<div game-command class="col-xs-12 col-sm-4 bg-primary" style="font: initial;"></div>
<div class="col-sm-8">
	<h2>About Bakers Rush</h2>
	<hr>
	<p>You are currently a mouse living in a bakery that has an old grumpy baker close shop every night. He is so old and grumpy that he leaves the shop without cleaning up so he can watch his TV and go to sleep. It is your job to clean up all of the cookie crumbs after him and to get to the big cheese every night that he leaves out!</p>
</div>
<div class="col-xs-12 col-sm-4">
	
</div>
<div transition-modal></div>