@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #ff51d8 !important;
  font-family: 'Permanent Marker', cursive !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/**
 * Main menu styles
 */
.main-menu{
  background-image: url(../assets/menu-background.png);
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-menu .create h2{
  margin-top: 50%;
}

/**
 * Bootstrap overrides
 */
a{
  color: #ff51d8 !important;
  text-decoration: none !important;
}
a:hover,
a:focus {
  color: #337ab7 !important;
  text-decoration: none !important;
}

/**
 * Custom styles
 */ 
.btn-game:nth-child(1n)  { background-color: #ff51d8; }  /* Pink */
.btn-game:nth-child(2n) { background-color: #76DAFF; }  /* Blue */
.btn-game:nth-child(3n) { background-color: #4AFF47; }  /* Green */
.btn-game:nth-child(4n) { background-color: #D926E1; }  /* Purple */

#add-command{
  height: 400px;
}
#gameCanvas > canvas{
  margin: 0 auto;
}