<div class="main-menu">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="create text-center" ui-sref='game.play({id: ctrl.createId()})'>
			    <a class="menu-button" ng-mouseover="ctrl.playSound()"><h2>New Game</h2></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2 class="center-text">Saved Games</h2>
			<div class="play" ng-repeat="level in ctrl.levels track by level.id"
			    ui-sref='game.play({id: level.id})'>
			    Name: <span ng-bind="level.name"></span>
			</div>
		</div>
	</div>
	<audio>
		<source src="assets/beep.mp3" type="audio/mpeg">
	</audio>
</div>